<h1><center>SVM Regression Tree</center></h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/Movie_regression.csv', header=0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [4]:
df.tail()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
501,21.2526,78.86,0.427,36624.115,142.6,8.68,8.775,8.620,8.970,6.8,492480,NO,186.96,243.584,Action,27,561,44800
502,20.9054,78.86,0.427,33996.600,150.2,8.78,8.945,8.770,8.930,7.8,482875,YES,132.24,263.296,Action,20,600,41200
503,21.2152,78.86,0.427,38751.680,164.5,8.83,8.970,8.855,9.010,7.8,532239,NO,109.56,243.824,Comedy,31,576,47800
504,22.1918,78.86,0.427,37740.670,162.8,8.73,8.845,8.800,8.845,6.8,496077,YES,158.80,303.520,Comedy,47,607,44000
505,20.9482,78.86,0.427,33496.650,154.3,8.64,8.880,8.680,8.790,6.8,518438,YES,205.60,203.040,Comedy,45,604,38000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
Marketing expense      506 non-null float64
Production expense     506 non-null float64
Multiplex coverage     506 non-null float64
Budget                 506 non-null float64
Movie_length           506 non-null float64
Lead_ Actor_Rating     506 non-null float64
Lead_Actress_rating    506 non-null float64
Director_rating        506 non-null float64
Producer_rating        506 non-null float64
Critic_rating          506 non-null float64
Trailer_views          506 non-null int64
3D_available           506 non-null object
Time_taken             494 non-null float64
Twitter_hastags        506 non-null float64
Genre                  506 non-null object
Avg_age_actors         506 non-null int64
Num_multiplex          506 non-null int64
Collection             506 non-null int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [6]:
df.isnull().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
dtype: int64

In [7]:
df.isnull().sum().sum()

12

In [8]:
df.shape

(506, 18)

In [9]:
df['Time_taken'].mean()

157.39149797570855

In [10]:
df['Time_taken'].fillna(value=df['Time_taken'].mean(), inplace=True)

In [11]:
df = pd.get_dummies(df, columns= ['3D_available', 'Genre'], drop_first=True)

In [12]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

#### Splitting the data

In [13]:
X = df.loc[:, df.columns!='Collection'].values
y = df['Collection'].values

In [14]:
type(X)

numpy.ndarray

In [15]:
type(y)

numpy.ndarray

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Standardizing the data

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
X_train_std = StandardScaler().fit_transform(X_train)

In [20]:
X_test_std = StandardScaler().fit(X_train).transform(X_test)

#### Training the Regression Tree

In [21]:
from sklearn.svm import SVR

In [22]:
svr = SVR(kernel='linear', C=1000)

In [23]:
svr.fit(X_train_std, y_train)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [24]:
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

#### Model Performance

In [25]:
from sklearn.metrics import r2_score, mean_squared_error

In [26]:
mean_squared_error(y_test, y_test_pred)

160153135.3940485

In [27]:
mean_squared_error(y_train, y_train_pred)

97829380.08703902

In [28]:
r2_score(y_test, y_test_pred)

0.502513572868258

In [29]:
r2_score(y_train, y_train_pred)

0.7124450931551822

#### Changing values of C

In [30]:
svr = SVR(kernel='linear', C=500)
svr.fit(X_train_std, y_train)
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

In [31]:
mean_squared_error(y_test, y_test_pred)

160031907.61713526

In [32]:
mean_squared_error(y_train, y_train_pred)

97778558.64568216

In [33]:
r2_score(y_test, y_test_pred)

0.5028901447877356

In [34]:
r2_score(y_train, y_train_pred)

0.7125944752203868

In [35]:
svr = SVR(kernel='linear', C=250)
svr.fit(X_train_std, y_train)
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

In [36]:
mean_squared_error(y_test, y_test_pred)

158624238.63208777

In [37]:
mean_squared_error(y_train, y_train_pred)

98340756.47310308

In [38]:
r2_score(y_test, y_test_pred)

0.5072628110626256

In [39]:
r2_score(y_train, y_train_pred)

0.7109419783554517

<h1><center>The End</center></h1>
<p><center>By <b>Alvyn Abranches</b></center></p>